@page
@model Konya_Zoltan_Proiect_Managementul_Concediilor.Pages.Functii.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Functii</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Functie[0].NrCrt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Functie[0].NrFunctie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Functie[0].NumeFunctie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Functie)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NrCrt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrFunctie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeFunctie)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
